<div class="data__table__line {{ this.evenOrOdd }}" {{ attributes }}>
    <div class="data__table__line-content">
        <div class="data__table__line__item title">
            <div class="data__table__line__item-label">{{ 'entity.score.fields.title.label' | trans }}</div>
            <div class="data__table__line__item-value underline"><a href="{{ path('app_library_score_show', {id: score.id}) }}">{{ score.title }}</a></div>
        </div>    

        <div class="data__table__line__item references">
            <div class="data__table__line__item-label">{{ 'entity.score.fields.refs.label' | trans }}</div>
            <div class="data__table__line__item-value">
                {% for scoreReference in score.refs %}
                    {% if loop.index != 1 %}, {% endif %}
                    <span class="">{{ scoreReference.value | trim }}</span>
                {% endfor %}
            </div>
        </div>    

        <div class="data__table__line__item categories">
            <div class="data__table__line__item-label">{{ 'entity.score.fields.categories.label' | trans }}</div>
            <div class="data__table__line__item-value">
                {% for category in score.categories %}
                    {% if loop.index != 1 %}, {% endif %}
                    <span class="">{{ category.value }}</span>
                {% endfor %}
            </div>
        </div>    

        <div class="data__table__line__item artists">
            <div class="data__table__line__item-label">{{ 'entity.score.fields.artists.label' | trans }}</div>
            <div class="data__table__line__item-value">
                {% for scoreArtist in score.artists %}
                    {% if loop.index != 1 %}, {% endif %}
                    <span class="">{{ scoreArtist.artist.name }} - {{ scoreArtist.type.value | trans }}</span>
                {% endfor %}
            </div>
        </div>    

    </div>
    <div class="data__table__line-actions">
        <label for="{{score.id}}-action-toggle" class="cursor-pointer text-slate-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </label>
        <input type="checkbox" id="{{score.id}}-action-toggle" class="peer hidden"/>
        <div class="hidden peer-checked:flex absolute top-[75%] right-[25%] z-[1000] items-start flex-col font-bold gap-3 p-5 bg-white">
            <a href="{{ path('app_library_score_show', {id: score.id}) }}">{{ 'main.action.show.label' | trans }}</a>
            <a href="{{ path('app_library_score_edit', {id: score.id}) }}">{{ 'main.action.edit.label' | trans }}</a>
            <div>{{ 'main.action.delete.label' | trans }}</div>
        </div>
            
    </div>
</div>
