{% import 'includes/svg/_svg.html.twig' as svg %}

{% macro getCaret(direction) %}
    {% set caretClass = 'h-4 w-4 bold' %}

    {% if direction == 'ASC' %}
        {{ heroicon('chevron-up', '', '', 'h-4 w-4 bold')|raw }}
    {% elseif direction == 'DESC' %}
        {{ heroicon('chevron-down', '', '', 'h-4 w-4 bold')|raw }}
    {% else %}
        {{ heroicon('chevron-up-down', '', '', 'h-4 w-4 bold')|raw }}
    {% endif %}
{% endmacro %}

<div class="data__table" {{ attributes }}>
    <div class="data__table__header">
        <div class="data__table__header_cell w-3/12 flex items-center justify-between">
            <span>{{ 'entity.score.fields.title.label'|trans }}</span>
            <span class="mr-4 cursor-pointer" data-action="click->live#action" data-live-action-param="changeDirection"
                  data-live-by-param="title">{{ _self.getCaret(this.direction('title')) }}</span>
        </div>
        <div class="data__table__header_cell w-3/12">{{ 'entity.score.fields.refs.label'|trans }}</div>
        <div class="data__table__header_cell w-3/12">{{ 'entity.score.fields.categories.label'|trans }}</div>
        <div class="data__table__header_cell w-3/12">{{ 'entity.score.fields.artists.label'|trans }}</div>
        <div class="data__table__header_cell w-[60px]"></div>
    </div>

    {% for key, score in this.pageScores %}
        {{ component('Library:LibraryTableRow', {score: score, key: score.id, evenOrOdd: key % 2 == 0 ? "even" : "odd"}) }}
    {% endfor %}

    {% if this.totalPages > this.maxPerPage %}
        <div class="data__table__line flex !justify-center">
            {% if page > 1 %}
                <span class="cursor-pointer" data-action="click->live#action" data-live-action-param="goToPage"
                      data-live-page-param="{{ 1 }}">{{ heroicon('chevron-double-left', '', '', 'h-4 w-4') }}</span>
                <span class="cursor-pointer" data-action="click->live#action" data-live-action-param="goToPage"
                      data-live-page-param="{{ page - 1 }}">{{ heroicon('chevron-left', '', '', 'h-4 w-4') }}</span>
            {% endif %}
            {% if page - 3 > 1 %}
                <span>{{ heroicon('ellipsis-horizontal', '', '', 'h-3 w-3') }}</span>
            {% endif %}

            {% for p in page - 3..page + 3 %}
                {% if p == page %}
                    <span>( <span class="font-semibold underline">{{ page }}</span>/{{ this.totalPages }} )</span>
                {% elseif p > 0 and p <= this.totalPages %}
                    <span class="cursor-pointer {% if p == page %}font-bold underline{% endif %}"
                          data-action="click->live#action" data-live-action-param="goToPage"
                          data-live-page-param="{{ p }}">{{ p }}</span>
                {% endif %}
            {% endfor %}

            {% if page + 3 < this.totalPages %}
                <span>{{ heroicon('ellipsis-horizontal', '', '', 'h-3 w-3') }}</span>
            {% endif %}

            {% if page < this.totalPages %}
                <span class="cursor-pointer" data-action="click->live#action" data-live-action-param="goToPage"
                      data-live-page-param="{{ page + 1 }}">{{ svg.getSvg('chevron-right', 'h-4 w-4') }}</span>
                <span class="cursor-pointer" data-action="click->live#action" data-live-action-param="goToPage"
                      data-live-page-param="{{ this.totalPages }}">{{ svg.getSvg('chevron-double-right', 'h-4 w-4') }}</span>
            {% endif %}
        </div>
    {% endif %}
</div>
