{# @var score \App\Entity\Library\Score #}

<p><span class="font-bold">{{ 'entity.score.fields.reference.label'|trans }}</span> : {{ score.reference.value }}</p>
{% if score.otherReferences|length > 0 %}
    <p><span class="font-bold">{{ 'entity.score.fields.refs.label'|trans }}</span> : {{ score.otherReferences|map(sa => sa.value ~ " (" ~ sa.information ~ ")")|join(', ') }}</p>
{% endif %}

{% if score.composers|length > 0 %}
    <p><span class="font-bold">{{ 'entity.artist.type.composer'|trans }}(s)</span> : {{ score.composers|map(sa => sa.artist.name)|join(', ') }}</p>
{% endif %}

{% if score.lyricists|length > 0 %}
    <p><span class="font-bold">{{ 'entity.artist.type.lyricist'|trans }}(s)</span> : {{ score.lyricists|map(sa => sa.artist.name)|join(', ') }}</p>
{% endif %}

{% if score.otherArtists|length > 0 %}
    <p><span class="font-bold">{{ 'entity.artist.type.other'|trans }}(s)</span> : {{ score.otherArtists|map(sa => sa.artist.name)|join(', ') }}</p>
{% endif %}

{% if score.categories|length > 0 %}
    <p><span class="font-bold">{{ 'entity.score.fields.categories.label'|trans }}</span> : {{ score.categories|map(sc => sc.value)|join(' / ') }}</p>
{% endif %}

{% if score.files|length > 0 %}
    <p><span class="font-bold">{{ 'entity.score.fields.files.label'|trans }}</span> :
        {% for file in score.files %}
        <div class="downloadable__file"><a href="{{ path("app_library_scorefile_download", {score: score.id, scoreFile: file.id}) }}">{{ file.name }}</a></div>
        {% endfor %}
    </p>
{% endif %}
